/*@font-face {
    font-family: 'myFirstFont';
    src: url('../font/苹方 常规.eot');
    src: url('../font/苹方 常规.eot?#iefix') format('embedded-opentype'),
    url('../font/苹方 常规.woff') format('woff'),
    url('../font/苹方 常规.ttf') format('truetype'),
    url('../font/苹方 常规.svg#NeuesBauenDemo') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
body{
   /* font-family: "myFirstFont";*/
    font-size: 12px;
    font-family: "PingFangSC-Medium";
}
.banner {
    height: 678px;
    background: url(../images/star.png);
    background-color: #000;
    background-size: 100% 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.container{
    position: relative;
}
.box-wrap{
    position: absolute;
    top: -676px;
    width: -webkit-fill-available;
}
.navbar-top .navbar-right{
    float: right;
    border: none;
}
.navbar-default .navbar-nav>li>a{
    color:#CCCCCC;
}
.navbar-default .navbar-nav>li>a:hover{
    color: #FFF0F5;
}
.container .navbar-top{
    border: none;
    background: none;
}
.navbar-right .login{
    width: 80px;
    height: 28px;
    border: 1px solid #979797;
    border-radius: 23px;
    margin-top: 10px;
    margin-left: 15px;
}
.navbar-right .login a{
    margin-top: -11px;
    margin-left: -6px;
}
.logo-img{
    width: 170px;
    height: 55px;
    margin-top: 25px;
}
.nav-list{
    margin-top: 25px;

}
.banner-h1{
    background: none;
   /* margin-top: 127px;*/
    padding-top: 20%;
}
.banner-text img{
   width: 669px;
  /* height: 42px;*/
    margin-bottom: 30px;
}
.banner-h3 h3{
    color: #fff;
    text-align: center;
}
.navbar-top .nav-button{
    margin-top: 29px;
    border: none;
}
.banner-text{
    margin-top: 27px;
}
.title-page2{
    border: none;
    padding-top: 1.7%;
}
.title-page2 h1{
    text-align: center;
    font-family: "PingFangSC-Light";
    font-size: 25px;
    color: #000000;
    letter-spacing: 0;
}
.title-page2 h1 p{
    opacity: 0.5;
    font-family: "PingFangSC-Light";
    font-size: 25px;
    color: #000000;
    letter-spacing: 0;
}
/*page2*/
.page2-wrap{
   /* width: 119px;*/
    border: none;
    width: 100%;
   /* height: 117px;*/
}
.page2-wrap img{
    width: 104px;
}
.container-wrap-page2 img{
    padding-bottom: 20px;
}
.page2-wrap h3{

    font-size: 18px;
    color: #2E2E2E;
    letter-spacing: 0;
    text-align: center;
}
.page2-wrap p{
    font-family: "PingFangSC-Regular";
    font-size: 16px;
    color: #2E2E2E;
    letter-spacing: 0;
    text-align: center;
}
.page2-wrap .page2-caption{
    /*width: 119px;*/
    padding: 0;
}
.container-wrap-page2{
    height: 258px;
}
.row-list{
    /*padding-left: 100px;*/
}
.row-list .col-sm-3{
    display: flex;
    align-content: center;
    justify-content: center;
}
.page2{
    background: #111111;
}
/*page3*/
.title-page3 h1{
    font-family: "PingFangSC-Light";
    font-size: 25px;
    color: #FFFFFF;
    letter-spacing: 0;
}
.title-page3 h1 p{
    opacity: 0.5;
    font-family: "PingFangSC-Light";
    font-size: 25px;
    color: #FFFFFF;
    letter-spacing: 0;
}
.page3-wrap-bg1{
    background: none;
    border: none;
    height:331px;
    position: relative;
    top:0;
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../images/aqbz_bg_c.png);
    background-image: -webkit-image-set(url(../images/aqbz_bg_c.png) 1x,url(../images/aqbz_bg_c@2x.png) 2x,url("../images/aqbz_bg_c@3x.png") 3x);
    background-image: -moz-image-set(url(../images/aqbz_bg_c.png) 1x,url(../images/aqbz_bg_c@2x.png) 2x,url("../images/aqbz_bg_c@3x.png") 3x);
    background-image: -o-image-set(url(../images/aqbz_bg_c.png) 1x,url(../images/aqbz_bg_c@2x.png) 2x,url("../images/aqbz_bg_c@3x.png") 3x);
    background-image: -ms-image-set(url(../images/aqbz_bg_c.png) 1x,url(../images/aqbz_bg_c@2x.png) 2x,url("../images/aqbz_bg_c@3x.png") 3x);

}
.page3-wrap-bg1:hover{
    position: relative;
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../images/anq_bg.png);
    background-image: -webkit-image-set(url(../images/anq_bg.png) 1x,url(../images/anq_bg@2x.png) 2x,url("../images/anq_bg@3x.png") 3x);
    background-image: -moz-image-set(url(../images/anq_bg.png) 1x,url(../images/anq_bg@2x.png) 2x,url("../images/anq_bg@3x.png") 3x);
    background-image: -o-image-set(url(../images/anq_bg.png) 1x,url(../images/anq_bg@2x.png) 2x,url("../images/anq_bg@3x.png") 3x);
    background-image: -ms-image-set(url(../images/anq_bg.png) 1x,url(../images/anq_bg@2x.png) 2x,url("../images/anq_bg@3x.png") 3x);
}
.page3-wrap-bg1 .bottom-p{
    opacity: 0;
}
.page3-wrap-bg1:hover .bottom-p{
    opacity:1;
}
.page3-wrap-bg1 .page3-hover{
    position: relative;
    top: 0;
}
 .page3-wrap-bg1:hover .page3-hover{
     position: relative;
     top: -10px;
 }
.trans {
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
}

.page3-wrap-bg2{
    position: relative;
    opacity: 1;
    height:331px;
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../images/cdfl-bg_c.png);
    background-image: -webkit-image-set(url(../images/cdfl-bg_c.png) 1x,url(../images/cdfl-bg_c@2x.png) 2x,url("../images/cdfl_bg@3x.png") 3x);
    background-image: -moz-image-set(url(../images/cdfl-bg_c.png) 1x,url(../images/cdfl-bg_c@2x.png) 2x,url("../images/cdfl-bg_c@3x.png") 3x);
    background-image: -o-image-set(url(../images/cdfl-bg_c.png) 1x,url(../images/cdfl-bg_c@2x.png) 2x,url("../images/cdfl-bg_c@3x.png") 3x);
    background-image: -ms-image-set(url(../images/cdfl-bg_c.png) 1x,url(../images/cdfl-bg_c@2x.png) 2x,url("../images/cdfl-bg_c@3x.png") 3x);
}
.page3-wrap-bg3{
    position: relative;
    opacity: 1;
    height:331px;
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../images/jhzf_bg_c.png);
    background-image: -webkit-image-set(url(../images/jhzf_bg_c.png) 1x,url(../images/jhzf_bg_c@2x.png) 2x,url("../images/jhzf_bg_c@3x.png") 3x);
    background-image: -moz-image-set(url(../images/jhzf_bg_c.png) 1x,url(../images/jhzf_bg_c@2x.png) 2x,url("../images/jhzf_bg_c@3x.png") 3x);
    background-image: -o-image-set(url(../images/jhzf_bg_c.png) 1x,url(../images/jhzf_bg_c@2x.png) 2x,url("../images/jhzf_bg_c@3x.png") 3x);
    background-image: -ms-image-set(url(../images/jhzf_bg_c.png) 1x,url(../images/jhzf_bg_c@2x.png) 2x,url("../images/jhzf_bg_c@3x.png") 3x)
}
.page3-wrap-bg4{
    position: relative;
    opacity: 1;
    height:331px;
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../images/zzfw_bg_c.png);
    background-image: -webkit-image-set(url(../images/zzfw_bg_c.png) 1x,url(../images/zzfw_bg_c@2x.png) 2x,url("../images/zzfw_bg_c@3x.png") 3x);
    background-image: -moz-image-set(url(../images/zzfw_bg_c.png) 1x,url(../images/zzfw_bg_c@2x.png) 2x,url("../images/zzfw_bg_c@3x.png") 3x);
    background-image: -o-image-set(url(../images/zzfw_bg_c.png) 1x,url(../images/zzfw_bg_c@2x.png) 2x,url("../images/zzfw_bg_c@3x.png") 3x);
    background-image: -ms-image-set(url(../images/zzfw_bg_c.png) 1x,url(../images/zzfw_bg_c@2x.png) 2x,url("../images/zzfw_bg_c@3x.png") 3x);
}
.border-bottom{
    width:20px;
    border-bottom: 1px solid #fff;
    margin: 10px auto;

}
.page3Title{
    margin-top: 43px;
}
.page3Title h3{
    font-family: "PingFangSC-Semibold";
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 23px;
    text-align: center;
}
.page3Title p{
    font-family: "PingFangSC-Semibold";
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 23px;
    text-align: center;
}
/*page4*/
.page4{
    margin-top: -40px;
}
.page4 .title-page4 h1{
    font-family: "PingFangSC-Light";
    font-size: 25px;
    color: #000000;
    letter-spacing: 0;
}
.page4 .title-page4 p{
    opacity: 0.5;
    font-family: "PingFangSC-Light";
    font-size: 25px;
    color: #000000;
    letter-spacing: 0;
}
.page4-wrap-bg1{
    width:100%;
    /*height:520px;*/
    background-image: url(../images/expl.png);
    background-image: -webkit-image-set(url(../images/expl.png) 1x,url(../images/expl@2x.png) 2x,url("../images/expl@3x.png") 3x);
    background-image: -moz-image-set(url(../images/expl.png) 1x,url(../images/expl@2x.png) 2x,url("../images/expl@3x.png") 3x);
    background-image: -o-image-set(url(../images/expl.png) 1x,url(../images/expl@2x.png) 2x,url("../images/expl@3x.png") 3x);
    background-image: -ms-image-set(url(../images/expl.png) 1x,url(../images/expl@2x.png) 2x,url("../images/expl@3x.png") 3x);
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.page4-wrap-bg2{
    width:100%;
   /* height:520px;*/
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../images/work.png);
    background-image: -webkit-image-set(url(../images/work.png) 1x,url(../images/work@2x.png) 2x,url("../images/work@3x.png") 3x);
    background-image: -moz-image-set(url(../images/work.png) 1x,url(../images/work@2x.png) 2x,url("../images/work@3x.png") 3x);
    background-image: -o-image-set(url(../images/work.png) 1x,url(../images/work@2x.png) 2x,url("../images/work@3x.png") 3x);
    background-image: -ms-image-set(url(../images/work.png) 1x,url(../images/work@2x.png) 2x,url("../images/work@3x.png") 3x);
}
.more{
    width: 50px;
    height: 50px;
    margin:20px auto;
}
.more img{
    width: 100%;
    height: 100%;
}
.page3Title .page4-h3{
    margin-top: 45%;
}
.page4-wrap-bg1 .page3Title{
    padding: 0;
}
.page5{
    margin-top: 20px;
    overflow: hidden;
}
.page5 .page5-title h1{
    ont-family: "PingFangSC-Semibold";
    font-size: 58px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 50px;
}
.page5 .page5-title h1 p{
    opacity: 0.5;
    font-family: "PingFangSC-Light";
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 50px;
}
.page5-wrap1{
    width: 173px;
    height: 34px;
    background:none;
    border:none;
}
.page5-wrap1 img{
    width: 70%;
    height: 100%;
}
.page5-wrap2{
    width: 165px;
    height: 41px;
    background:none;
    border:none;
}
.page5-wrap2 img{
   /* width: 100%;*/
    height: 100%;
}
.page5-wrap3{
    width: 160px;
    height: 51px;
    background:none;
    border:none;
}
.page5-wrap3 img{
   /* width: 100%;*/
    height: 100%;
}
.page5-wrap4{
    width: 156px;
    height: 31px;
    background:none;
    border:none;
    margin-top: 12px;
}
.page5-wrap4 img{
   /* width: 100%;*/
    height: 100%;
}
.page5-wrap5{
    width: 101px;
    height: 82px;
    background:none;
    border:none;
    margin-top: -5px;
}
.page5-wrap5 img{
   /* width: 100%;*/
    height: 100%;
    margin-top: 30px;
}
.page5-wrap6{
    width: 167px;
    height: 48px;
    background:none;
    border:none;

}
.page5-wrap6 img{
   /* width: 100%;*/
    height: 100%;
}
.page5-wrap7{
    width: 141px;
    height: 75px;
    background:none;
    border:none;
    margin-top: -9px;

}
.page5-wrap7 img{
   /* width: 100%;*/
    height: 100%;
}
.page5-wrap8{
    width: 138px;
    height: 69px;
    background:none;
    border:none;
}
.page5-wrap8 img{
    /*width: 100%;*/
    height: 100%;
}
.page5-wrap9{
    width: 159px;
    height: 49px;
    background:none;
    border:none;
    margin-top: 10px;

}
.page5-wrap9 img{
    /*width: 100%;*/
    height: 100%;
}
.page5-wrap10{
    width: 130px;
    height: 67px;
    background:none;
    border:none;
    margin-top: 5px;

}
.page5-wrap10 img{
   /* width: 100%;*/
    height: 100%;
}
.arrow-left-icon img {
    position: absolute;
    left: 0;
    top: 50px;
}
.arrow-right-icon img{
    position: absolute;
    right: 0;
    top: 50px;
}
/*page6*/
.page6{
   /* margin-top: 105px;*/
    width: 100%;
   /* height:457px;*/
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/kfz_bg.png);
    background-image: -webkit-image-set(url(../images/kfz_bg.png) 1x,url(../images/kfz_bg@2x.png) 2x,url("../images/kfz_bg@3x.png") 3x);
    background-image: -moz-image-set(url(../images/kfz_bg.png) 1x,url(../images/kfz_bg@2x.png) 2x,url("../images/kfz_bg@3x.png") 3x);
    background-image: -o-image-set(url(../images/kfz_bg.png) 1x,url(../images/kfz_bg@2x.png) 2x,url("../images/kfz_bg@3x.png") 3x);
    background-image: -ms-image-set(url(../images/kfz_bg.png) 1x,url(../images/kfz_bg@2x.png) 2x,url("../images/kfz_bg@3x.png") 3x);

}
.page6-h1{
    background: none;
    text-align: center;
    padding-top: 248px;
}

.page6-h3 h3{
    font-family: "PingFangSC-Regular";
    font-size: 28px;
    color: rgba(0,0,0,0.80);
    letter-spacing: 0;
}
.Page6-p{
    background: #1D1B1B;
    border-radius: 48px;
    width: 140px;
    height: 40px;
    margin: 40px auto;
}
.Page6-p p{

    text-align: center;
    line-height: 40px;
    font-family: "PingFangSC-Regular";
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
}
.event-links li {
    display: inline-block;
    text-align: center;
    width: 10%;
    padding: 0px;

}
.event-links{
   /* padding-left: 90px;*/
}
.event-links li a{
    font-family: "PingFangSC-Regular";
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
}
.event-links-img{
    /*width: 25%;*/
    margin-top: 20px;
    margin-bottom: 20px;
}
.page8-foot h3{
    opacity: 0.8;
    font-family: "PingFangSC-Medium";
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-bottom: 20px;
}
.page8-foot span{
    opacity: 0.8;
    font-family: "PingFangSC-Light";
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.navbar-top{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,.5);
    z-index: 999;
    border: none;
}
.page-p{
   /* margin: 0;*/
}
.page-p h3{
    font-family: "PingFangSC-Medium";
    font-size: 18px;
    color: #2E2E2E;
    letter-spacing: 0;
    text-align: center;
}
.page-p p{
    font-family: "PingFangSC-Regular";
    font-size: 16px;
    color: #2E2E2E;
    letter-spacing: 0;
}
.pro-wrap{
    margin-top: -40px;
    /* min-height: 530px; */
    padding-top: 6%;
    overflow: auto;
    padding-bottom: 4%;
}
.page-method{
    margin-top: -40px;
   /* padding-top: 1.7%;*/
    padding-bottom: 9.5%;
}
.content-img{
    margin-top: 70px;
    padding-bottom: 80px
}
.content-img .col-sm-4{
    margin-top: 20px;
}
.page5-wrap1 img{
   margin-bottom: 60px;
}
.middle h3{
    font-family: "PingFangSC-Medium";
    font-size: 25px;
    color: #FFFFFF;
    letter-spacing: 5.68px;
}
/*字体的媒体查询*/

@media (max-width: 1199px){
    .page5 .page5-title h1{
        font-size: 58px;
    }
    .page5 .page5-title h1 p{
        font-size:16px;
    }
    .title-page2 h1{
        font-size: 40px;
    }
    .title-page2 h1 p{
        font-size: 40px;
    }
    .page4 .title-page4 h1{
        font-size: 40px;
    }
    .page4 .title-page4 h1 p{
        font-size: 40px;
    }
    .banner{
        height: 610px;
    }
    .middle h3{
        font-size: 25px;
    }
    .page6-h3 h3{
        font-size: 40px;
        display: none;
    }
    .Page6-p p{
        margin-top: -128px;
    }
}
@media (max-width: 979px){
    .page5 .page5-title h1{
        font-size: 30px;
    }
    .page5 .page5-title h1 p{
        font-size: 20px;
    }
    .title-page2 h1{
        font-size: 30px;
    }
    .page4 .title-page4 h1{
        font-size: 30px;
    }
    .title-page2 h1 p{
        font-size: 30px;
    }
    .page4 .title-page4 h1 p{
        font-size: 30px;
    }
    .banner{
        height: 500px;
    }
    .middle h3{
        font-size: 20px;
    }
    .page6-h3 h3{
        font-size: 30px;
    }
}
@media screen and (max-width: 767px){
    .page5 .page5-title h1{
        font-size: 28px;
    }
    .page5 .page5-title h1 p{
        font-size: 12px;
    }
    .title-page2 h1{
        font-size: 20px;
    }
    .page4 .title-page4 h1{
        font-size: 20px;
    }
    .title-page2 h1 p{
        font-size: 20px;
    }
    .page4 .title-page4 h1 p{
        font-size: 20px;
    }
    .banner{
        height: 310px;
    }
    .icon img{
        width: 10%;
    }
    .middle h3{
        font-size: 18px;
    }
    .page6-h3 h3{
        font-size: 18px;
    }
}

